includes:
    - phar://vendor/phpstan/phpstan/phpstan.phar/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    strictRules:
        booleansInConditions: false

    level: max

    paths:
        - src
        - tests

    tmpDir: storage/tmp/phpstan
